#cool_bg {
    background-image: url("images/A1BxQEoVjjL.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 1000px; 
    display: flex;
    justify-content: center;  
    align-self: center; 
}

#container{
    width: 800px;
    height: 500px;
    background-color: transparent;
    border-style: solid;
    margin-right: 290px ;
    display: grid;
    
}

.selector {
    margin-top: 400px;
    float: bottom;
}

#square{
    background-color: white;
    width: auto;
    height: auto;
}